# {{ ansible_managed }}
Port {{ sshd_port }}
ListenAddress {{ sshd_listen_address }}
Protocol {{ sshd_protocol }}
HostKey {{ sshd_host_rsa_key }}
HostKey {{ sshd_host_dsa_key }}
HostKey {{ sshd_host_ecdsa_key }}
UsePrivilegeSeparation {{ sshd_use_privilege_separation }}
KeyRegenerationInterval {{ sshd_key_regeneration_interval }}
ServerKeyBits {{ sshd_server_key_bits }}
SyslogFacility {{ sshd_syslog_facility }}
LogLevel {{ sshd_log_level }}
LoginGraceTime {{ sshd_login_grace_time }}
PermitRootLogin {{ sshd_permit_root_login }}
StrictModes {{ sshd_strict_modes }}
RSAAuthentication {{ sshd_rsa_authentication }}
PubkeyAuthentication {{ sshd_pubkey_authentication }}
AuthorizedKeysFile {{ sshd_authorized_keys_file }}
IgnoreRhosts {{ sshd_ignore_rhosts }}
RhostsRSAAuthentication {{ sshd_rhosts_rsa_authentication }}
HostbasedAuthentication {{ sshd_host_based_authentication }}
IgnoreUserKnownHosts {{ sshd_ignore_user_known_hosts }}
PermitEmptyPasswords {{ sshd_permit_empty_passwords }}
ChallengeResponseAuthentication {{ sshd_challenge_response_authentication }}
PasswordAuthentication {{ sshd_password_authentication }}
GSSAPIAuthentication {{ sshd_gss_api_authentication }}
GSSAPICleanupCredentials {{ sshd_gss_api_cleanup_credentials }}
X11Forwarding {{ sshd_x11_forwarding }}
X11DisplayOffset {{ sshd_x11_display_offset }}
PrintMotd {{ sshd_print_motd }}
PrintLastLog {{ sshd_print_last_log }}
TCPKeepAlive {{ sshd_tcp_keep_alive }}
MaxStartups {{ sshd_max_startups }}
Banner {{ sshd_banner }}
AcceptEnv {{ sshd_accept_env }}
Subsystem {{ sshd_subsystem }}
UsePAM {{ sshd_use_pam }}
